.login-container {
    padding: 30px;
    border: 1px solid #f76fe5;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    background-color: violet;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    border: rgb(236, 182, 246) 1px solid;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.info button {
    margin: 10px;
}

.info button img {
    width: 150px;
    height: 40px;
}

.username {
    padding: 10px;
    border-radius: 20px;
}