.login-container {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    border: 1px solid rgb(243, 143, 244);
    border-radius: 5px;
    margin-left: 450px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: blueviolet;
}

.left-side img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 20px;
}