.login-container {
    /* padding: 15px; */
    margin: 10px;
    border: 1px solid rgb(244, 247, 244);
    border-radius: 10px;
    height: 300px;
    width: 450px;
    margin: auto;
    display: flex;
    gap: 50px;
    background:linear-gradient(to right, rgb(199, 59, 250), rgb(200, 200, 255));  
    margin-top: 60px;
}

.login-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    height: 300px;
    padding: 5px;
}

.input-login {
    border-radius: 20px;
    padding: 3px;
    border: transparent;
}

.button-login {
    border-radius: 20px;
    padding: 3px;
    border: transparent;
    background: linear-gradient(to right, rgb(242, 78, 78), rgb(242, 137, 118));
}

.login-content {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    /* margin-top: 100px; */
    padding: 5px;
}

.right-text {
    padding: 0px;
    color: rgb(103, 26, 227);
    background: none;
}